*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root{
    --heading-font-size:32px;
    --body-font:"Playfair Display", serif;
    --label-font-size:12px;
    --input-font-sieze:15px;
    --card-bg-color:black;
    --cardholderColor:gold;
    --cardNumbersColor:red;
    --expColor:blue;
    --cvcColor:red;
}

.mainContainer{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.leftContainer{
    grid-column: 1 / 1 / 2 / 2;
    position: relative;     
}

.rightContainer{
    grid-area: 1 / 2 / 2 / 3 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

form div{
    display: flex;
    flex-direction: column;

}

.dateAndTime{
    flex-direction: row;
    gap: 20px;
}

form label{
    font-size: var(--label-font-size);
    font-family: var(--body-font);
    font-weight: 800;
    margin: 5px 0px;
}

form input{
    font-family: var(--body-font);
    font-size: var(--input-font-sieze);
    font-weight: 500;
    border: 1px solid gray;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
}

form input:invalid{
    border: 1px solid rgb(255, 0, 0);

}

form input:valid{
    border: 1px solid rgb(61, 11, 240);
}

form #submit{
margin: 0 auto;
 width: 9em;
 height: 3em;
 border-radius: 30em;
 font-size: 15px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

form #submit::before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
     position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ee15e7 0%, #1f40d3 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

form #submit:hover::before {
 width: 9em;
}

.frontCard,
.BackCard{
    position: absolute;
    min-width: 350px;
    height: 200px;
    background-color: var(--card-bg-color);
    border-radius: 20px;
    padding: 20px;
    /* border-image: linear-gradient(to right, #f06, #4a90e2) 1;
    background: linear-gradient(to right, #f06, #4a90e2); */
    border: 1px solid #C0C0C0;
    box-shadow: 0px 0px 7px;
}

.frontCard{
    right: -30%;
    bottom: 50%;
    display: flex;
    flex-direction: column;
}

.icons{
    display: flex;
    justify-content: space-between;
}


.nameAndExpdate{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: end;
}

.BackCard{
    right: 0;
    bottom: 20%;
    padding: 0;
}

#cardNumbers{
    color: var(--cardNumbersColor);
    position: absolute;
    top: 70%;
}

#cardholderName{
    color: var(--cardholderColor);
    
}

#expiredDate{
    color:var(--expColor)
}

#cvcNumbers{
    color: var(--cvcColor);
}

.BackCard .line{
 width: 100%;
 height: 3%;
  background: hsl(61, 49%, 72%);
  margin: 20px 0;
}